<a href="https://colab.research.google.com/github/oprah2018/algorithm/blob/main/sorting_algo_ik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def heap_sort(arr):
    n = len(arr)
    for i in range(n//2 - 1, -1, -1):
        heapify(arr, n, i)
    return arr
def heapify(arr, n, i):
    root = i
    left = 2*i + 1
    right = 2*i + 2

    if left < n and arr[left] > root:
        root = left

    if right < n and arr[right] > root:
        root = right

    if root != i:
        arr[i], arr[root] = arr[root], arr[i]
        heapify(arr, n, root)

In [ ]:
arr = [5, 8, 3, 9, 4, 1, 7]

def heap_sort(arr):
    n = len(arr)
    for i in range(n // 2 - 1, -1, -1):
        heapify(arr, n, i)

    for i in range(n - 1, 0, -1):
        arr[i], arr[0] = arr[0], arr[i]
        heapify(arr, i, 0)
    return arr

def heapify(arr, n, i):
    root = i
    left = 2 * i + 1
    right = 2 * i + 2

    if left < n and arr[left] > arr[root]:
        root = left

    if right < n and arr[right] > arr[root]:
        root = right

    if root != i:
        arr[i], arr[root] = arr[root], arr[i]
        heapify(arr, n, root)

heap_sort(arr)
print("Sorted array:", arr)

Sorted array: [1, 3, 4, 5, 7, 8, 9]

In [ ]:
class Person:
  def __init__(self, ssn, name, dob):
    self.ssn = ssn
    self.name = name
    self.date_of_birth = dob

  def print_details(self):
    print("Name: ", self.name)
    print("Date of birth: ", self.date_of_birth)
    print("social security number: ", self.ssn)


  def update_name(self, new_name):
    self.name = new_name
    print("Name updated successfully")

In [ ]:
class Employee(Person):
  def __init__(self, name, dob, ssn, department, salary):
    self.department = department
    self.salary = salary
    Person.__init__(self, ssn, name, dob)

  def employee_details(self):
    print("Name: ", self.name)
    print("Department: ", self.department)
    print("Salary: ", self.salary)

  def change_department(self, new_department):
    self.department = new_department

In [ ]:
emp1 = Employee("Ngongang", "06/01/1987", "2407277941", "SRE", 170000)

In [ ]:
emp1.employee_details()

Name:  Ngongang
Department:  SRE
Salary:  170000

In [ ]:
emp1.change_department("HR")
emp1.employee_details()

Name:  Ngongang
Department:  HR
Salary:  170000

In [ ]:
class Date:
  def __init__(self, month, date, year):
    self.month = month
    self.date = date
    self.year = year

  def __repr__(self):
    return f"{self.month}/{self.date}/{self.year}"

  def next_date(self):
    if self.month in [1,3,5,7,8,10]:
      if date == 30:
        if self.month == 12:
          self.year += 1
        self.month +=  1
        self.date = 1

In [ ]:
date = Date(6,1,1987)
print(date)

6/1/1987

In [ ]:
arr = [2,3,6,9,13,14,23,28,30]
def binary_search(arr, start, end, target):
    if start <= end:
      mid = start + (end - start)//2

      if arr[mid] < target:
        return binary_search(arr, mid + 1, end, target)
      elif arr[mid] > target:
        return binary_search(arr, start, mid - 1, target)
      elif arr[mid] == target:
        return mid
    else:
      return -1

binary_search(arr, 0, len(arr) - 1, 30)

8

In [ ]:
def binary_string(n):
  if n == 0:
    return 1
  helper("", n)

def helper(slate, n):
  if n == 0:
    return slate
  else:
    helper(slate + "0", n-1)
    helper(slate + "1", n-1)

binary_string(5)

['00000', '00001', '00010', '00011', '00100', '00101', '00110', '00111', '01000', '01001', '01010', '01011', '01100', '01101', '01110', '01111', '10000', '10001', '10010', '10011', '10100', '10101', '10110', '10111', '11000', '11001', '11010', '11011', '11100', '11101', '11110', '11111']

In [ ]:
arr = [5,9,0,19,0,2,0,0,11]
def move_zero(arr):
  if len(arr) <= 1:
    return arr
  j = 0
  for i in range(len(arr)):
    if arr[i] != 0:
      arr[i], arr[j] = arr[j], arr[i]
      j += 1
  return arr
move_zero(arr)

[5, 9, 19, 2, 11, 0, 0, 0, 0]

In [ ]:
arr = [34, 23, 1, 24, 75, 33, 54, 8]
def two_sum_less_than_K(arr, k):
  if len(arr) <= 1:
    return False

  arr.sort()
  i = 0
  result = -1

  while j > len(arr):
    curr_sum = arr[i] + arr[j]
    if curr_sum == k:
      result = max(result, curr_sum)

In [ ]:
def anagram_digit(arr):
  if not arr:
    return 0
  count = 0
  string_sorted_list = []
  for i in arr:
    sorted_string = "".join(sorted(str(i)))
    count += string_sorted_list.count(sorted_string)
    string_sorted_list.append(sorted_string)
  return count
anagram_digit([25, 35, 872, 228, 53, 278, 872])

4

In [ ]:
# def subsets_with_duplicates(s):
#     result = []
#     backtrack(sorted(s), 0, [], result, set())
#     return result

# def backtrack(s, i, slate, result, seen):
#     if i == len(s):
#         subset = ''.join(slate[:])
#         if subset not in seen:
#             result.append(subset)
#             seen.add(subset)
#         return

#     backtrack(s, i + 1, slate, result, seen)  # Exclude current character
#     slate.append(s[i])
#     backtrack(s, i + 1, slate, result, seen)  # Include current character
#     slate.pop()

# # Example usage
# string = "abac"
# result = subsets_with_duplicates(string)
# print(result)


def subsets_with_duplicates(s):
    result = []
    backtrack(sorted(s), 0, [], result)
    return result

def backtrack(s, i, slate, result):
    if i == len(s):
        subset = ''.join(slate[:])
        if subset not in result:  # Check if subset is already in result
            result.append(subset)
        return

    backtrack(s, i + 1, slate, result)  # Exclude current character
    slate.append(s[i])
    backtrack(s, i + 1, slate, result)  # Include current character
    slate.pop()

# Example usage
string = "abac"
result = subsets_with_duplicates(string)
print(result)

['', 'c', 'b', 'bc', 'a', 'ac', 'ab', 'abc', 'aa', 'aac', 'aab', 'aabc']

In [ ]:
def two_sum(numbers, target):
    """
    Args:
     numbers(list_int32)
     target(int32)
    Returns:
     list_int32
    """
    # Write your code here.
    if not numbers:
        return [-1, -1]
    aux = set()
    for i in range(len(numbers)):
      to_find = target - numbers[i]
      if to_find not in aux:
        aux.add(numbers[i])
      else:
        return [numbers.index(to_find), i]
    return [-1, -1]
two_sum([5, 3, 10, 45, 1], 6)

[0, 4]

In [ ]:
import numpy as np
my_array = np.array([1,3,6,7,10])
print(my_array)

arr = np.arange(1, 15, 2)

[ 1  3  6  7 10]